<div class="card mb-3">
  <h3 class="card-show-title">Wspólnoty</h3>
  <p></p>
  <p>Wokół nas jest masa ludzi tak jak my głodnych Chleba. Warto dołączać do wspólnot, duszpasterstw, by razem z ludźmi o takich samych wartościach rozwijać się w Bogu.</p>
  <p>Listę wspólnot znajdziecie poniżej</p>
  <p>Dodaj wspólnotę</p>
  <p></p>
  <table class="table table-hover">
    <thead>
      <th>Wspólnota</th>
      <th>Miasto</th>
      <th>Adres</th>
      <th>Parafia</th>
      <th>Szczegóły</th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
