<div class="card mb-3">
  <h3 class="card-show-title">Świadectwa</h3>
  <p></p>
  <p>Zachęcam Was do dzielenia się własnymi świadectwami. Bóg nas kocha i w nas działa.
    Jeśli chcesz podzielić się swoim świadectwem, napisz, nie wahaj się, niech Twoje doświadczenie umocni ono wszystkich.</p>
    <div class="card-body">
  <%= link_to "Dodaj świadectwo", new_contact_path, class: "button" %>
</div>

</div>
