<div class="card mb-3">
  <h3 class="card-show-title">Niech będzie pochwalony Jezus Chrystus!</h3>
  <h3 class="card-show-title">Szczęść Wam Boże!</h3>
  <p></p>
  <p>Mam na imię Marta. Urodziłam się w 1989 roku. Od początku studiów mieszkam w Warszawie, aktualnie pracuję.
    Jestem świecką dziewczyną i jak każda dziewczyna przeżywam radości i smutki, jestem skomplikowana, pełna wątpliwości itd.</p>
  <p>Wierzę z Boga i chcę Go poznać, choć nie staram się Go pojąć. Po prostu wierzę i chcę Go przyjmować nie tak, jak naukowiec, ale tak, jak dziecko.
    Tą dziecięcą ufnością w Ojca pragnę zarazić i Was, bo jestem pewna, że nie będziecie tego żałować. Stąd właśnie to miejsce, ten blog.</p>
  <p>W moim życiu Bóg i Maryja byli zawsze - czasem bliżej czasem dalej, czasem, że aż wstyd się przyznać. Nigdy jednak nie odeszłam od Boga całkowicie.
    On zawsze gdzieś w głębi był i powracał, a ja powracałam do Niego.</p>
  <p>Dziś dziękuję Bogu za to. Dziękuję Bogu i Maryi. Dziękuję  im za to, że się mną opiekowali zawsze, nawet gdy ja tego nie czułam, nawet gdy ja o
    Nich zapominałam. Jest mi wstyd za to, że zapominałam i modlę się o dalszą Ich opiekę. </p>
  <p>Największą moją trudnością w zwyczajnym świecie jest budowanie relacji, współpraca z ludźmi, odnajdywanie się w grupie.
    Choć sporo czasu spędzam z ludźmi, to jednak mam trudności w budowaniu niepowierzchownych długotrwałych relacji i z tego powodu cierpię.
    Jestem jedynaczką, introwertyczką, dorastałam w samotności... ciężko mnie poznać i zrozumieć, "zyskuję z czasem", często się izoluję.
    Zaakceptowanie siebie taką jaka jestem trwało wiele lat prób i błędów, rozczarowań, niepowodzeń, cierpień i łez. Nie było prosto,
    ale w końcu zrozumiałam, że Bóg wie, jaka jestem i że powinnam przyjąć siebie taką, jaką stworzył mnie Bóg i wykorzystać to do realizacji Bożego planu.
    Nawet jeśli Bożym planem okaże się właśnie to przychodzące mi z trudnością otwarcie na ludzi ;) Bóg to raczy wiedzieć. </p>
  <p>Blog ten powstał w odpowiedzi na moją wewnętrzną potrzebę uzewnętrznienia myśli. Chciałam utworzyć miejsce, które zgromadzi ludzi
    takich jak ja - głodnych Chleba, ufających - bo wiem, że nie jestem jedyną głodną na Ziemi ;). Chciałam utworzyć miejsce, które zachęci ludzi do wspólnej modlitwy,
    na którym będzie można znaleźć wspólnoty, spotkania i wydarzenia chrześcijańskie w najbliższej okolicy, wartościowe książki czy filmy. Wreszcie chciałam
    stworzyć miejsce, gdzie będzie można podzielić się własnym świadectwem i wspólnie, razem z innymi głodnymi, umacniać się w wierze.</p>
  <p>Nie jestem osobą duchowną, jestem osobą świecką, katoliczką. Podstawą wiary jest Eucharystia i ten blog jej nie zastąpi.
    Kapłani są jedynie narzędziem w rękach Boga i ten blog również ich nie zastąpi. Nie chcę tym blogiem tworzyć odrębnego kościoła, a jedynie
    rozwijać się w Kościele, który już istnieje - tym przez wielkie "K", Kościele katolickim, który tworzą wszyscy ochrzczeni w Chrystusie. </p>
  <p>Zachęcam Was do modlitwy i do Eucharystii, spowiedzi, Komunii Świętej, bo tam jest Bóg - nasz Tata, ktory jest stale żywy i obecny, który stale nas kocha i na nas czeka.</p>
  <p>Jestem grzesznikiem niegodnym wyzwania, którego się podejmuję. Ale chrześcijaństwo jest właśnie dla grzeszników, Jezus bratał się właśnie z grzesznikami, prawda?
    Dlatego zawierzam Bogu i Maryi ten blog oraz ludzi, którzy będą tu przychodzić. Proszę o modlitwę, aby ten blog mógł wszystkim (mi również) służyć ku większej chwale Boga. </p>
  <p>Życzę Wam owocnego korzystania z bloga, niech dobry Bóg nas wszystkich prowadzi zgodnie ze swoją wolą,</p>
  <p>Marta</p>
</div>
