<div class="card mb-3">
  <h3 class="card-show-title">Kilka zadad obowiązujących na blogu</h3>
  <p></p>
  <p>Blog utworzyłam prywatnie i prowadzę go samodzielnie. Aby zachować wysoki poziom i wiarygodność bloga, stosujmy się do kilku podstawowych zasad:</p>
  <ol>
    <li>Celem bloga jest umacnianie w wierze katolickiej ku większej chwale Boga.</li>
    <li>Komentując:</li>
      <ol>
        <li>nie obrażamy - komentarze obraźliwe bądź zawierające wulgaryzmy nie będą publikowane na blogu,</li>
        <li>nie komentujemy polityki - możemy się modlić o mądre decyzje rządzących i powierzać tę kwestię Bogu, jednak nie komentujemy konkretnych polityków, partii itp. zgodnie z wyznawanymi poglądami politycznymi, a tym bardziej pod wpływem emocji - wszelkie komentarze o nieneutralnym wydźwięku i/lub niezgodne z celem bloga nie będą publikowane na blogu,</li>
        <li>głosimy chwałę Boga i umacniamy się w wierze - wszelkie komentarze głoszące przeciwko Bogu nie będą publikowane na blogu, a nawrócenie ich autorów będzie zawierzane Bogu w modlitwie.</li>
      </ol>
    <li>Komentarze są sprawdzane pod kątem zgodności z wyżej wymienionymi zasadami komentowania i z celem bloga przed publikacją na blogu.</li>
    <li>Zgłoszone wspólnoty, wydarzenia itp. są sprawdzane pod kątem autentyczności i zgodności z celem bloga przed publikacją na blogu.</li>
    <li>Zgłoszone świadectwa są sprawdzane pod kątem zgodności z celem bloga przed publikacją na blogu.</li>
    <li>Zgłoszone książki i filmy są sprawdzane pod kątem zgodności z celem bloga przed publikacją na blogu.</li>
    <li>Wszelkie pytania, wątpliwości, problemy techniczne zgłaszajmy poprzez formularz kontaktowy w zakładce "kontakt"</li>
    <li>Na co dzień pracuję, blog prowadzę "hobbistycznie" w swoim wolnym czasie - w związku z tym akceptacja dodanych przez Was treści
      może nie następować od razu, tylko nawet po kilku godzinach lub nocą. Proszę o cierpliwość i zrozumienie.
      Zapewniam, że wszystko co jest zgodne z powyższymi zasadami zostanie opublikowane :)</li> 
  </ol>
  <p></p>
  <p>Życzę Wam owocnego korzystania z bloga, niech dobry Bóg nas wszystkich prowadzi zgodnie ze swoją wolą,</p>
  <p>Marta</p>
</div>
